.sidebar {
    width: 200px;
    background-color: #f1f3f5;
    border-right: 1px solid #dee2e6;
    height: 100vh;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007BFF;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #0056b3;
    font-weight: bold;
    /* Highlight the active link */
}




​.sidebar ul li a {
    text-decoration: none;
    color: #007BFF;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #0056b3;
    /* Changes the color to indicate active state */
    font-weight: bold;
    /* Makes the text bold to further highlight the active state */
}

.SideBar-friends {
    display: flex;
    background-color: rgb(214, 214, 214);
    padding: 0.25rem 1rem;
    justify-content: space-between;
}

.SideBar-friends button {
    border-style: none;
    cursor: pointer;
    font-size: 1rem;
    background: none;
}

.SideBar-friends button:hover {
    color: #007BFF;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-body {
    margin: 20px 0;
}

.modal-body input,
.modal-body textarea {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.send-invites {
    background-color: #035ebf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.preview-message {
    background-color: transparent;
    color: #007BFF;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
