.layout-container {
    display: flex;
    height: 100vh; /* Ensure it takes the full height of the viewport */
  }

  .SideNavigation {
    flex: 0 0 250px; /* Adjust the width as needed */
    height: 100%; /* Ensure it takes the full height */
  }

  .main-content {
    flex: 1;
    overflow-y: auto; /* Enable scrolling if the content is too tall */
  }
