.layout-container {
  display: flex;
  height: 100vh;
  /* Full height of the viewport */
}

.main-content {
  flex: 1;
  display: flex;
  /* Add Flexbox */
  justify-content: center;
  /* Centers child horizontally */
  overflow-y: auto;
  /* Enable scrolling if the content is too tall */
  padding: 20px;
  /* Optional: Add some padding */
}
