.all-expenses-page {
    font-family: 'Arial', sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f7fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.expenses-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.expense-details {
    display: flex;
    align-items: center;
}

.manage-expense {
    display: flex;
}

.expense-item {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
    width: 100%;
    box-sizing: border-box;
}

.expense-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.expense-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    /* Ensure arrow positioning relative to header */
}

.expense-header h2 {
    margin-right: 2rem;
    font-size: 1.2rem;
    color: #007bff;
}

.chevron-icon {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.expense-header .chevron-icon:hover {
    transform: translateX(-50%) scale(1.2);
}

.settled-status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-left: auto;
}

.settled-status.settled {
    background-color: #28a745;
    color: white;
}

.settled-status.unsettled {
    background-color: #dc3545;
    color: white;
}

.expense-details {
    margin-bottom: 10px;
    color: #555;
}

.expense-shares {
    margin-top: 10px;
}

.share-item {
    margin-top: 5px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.expense-comments {
    margin-top: 20px;
}

.comments-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-item {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#delete-comments-button {
    background-color: #dc3545;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    box-sizing: border-box;
}

#AllExpenses-update-button {
    background-color: #ffa500;
    color: white;
}

#AllExpenses-delete-button,
.cancel-button {
    background-color: #dc3545;
    color: white;
}

#AllExpenses-update-button:hover {
    background-color: #e59400;
}

#AllExpenses-delete-button:hover,
.cancel-button:hover {
    background-color: #c82333;
}


button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

#AllExpenses-update-button,
#AllExpenses-delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    margin-left: .5rem;
    /* Reduces space between the buttons */
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
}

p {
    width: fit-content
}

.hidden {
    display: none;
}

#no-expenses-message {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #535562;
}

.comment-actions,
.edit-actions {
    display: flex;
    gap: 10px;
    /* Space between buttons */
    margin-top: 10px;
}

.comment-actions button,
.edit-actions button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
    border: none;
}
