/* Main content container */
.Dashboard {
    max-width: 1200px;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: .5rem;
    background-color: #e8effa !important;
}

/* Dashboard header styling */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard-header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50 !important;
}

.buttons-dashboard {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-expense-button,
.settle-up-button {
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.add-expense-button {
    background-color: #007bff !important;
    color: white !important;
    height: 2rem;
}

.settle-up-button {
    background-color: #28a745 !important;
    height: 2rem;
    color: white !important;
}

/* Balance overview */
.balance-overview {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa !important;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.balance-item {
    width: 30%;
}

.balance-item p {
    margin: 0;
    font-size: 1rem;
    color: #666 !important;
}

.balance-item h3 {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff !important;
}

.negative-balance {
    color: #ff7b00 !important;
}

.you-owe {
    color: #ff7b00 !important;
}

/* You Owe / You Are Owed Sections */
.balances {
    display: flex;
    justify-content: space-between;
}

.you-owe-section,
.you-are-owed-section {
    width: 48%;
}

.you-owe-section h2,
.you-are-owed-section h2 {
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;
    color: #2c3e50 !important;
    margin-bottom: 15px;
}

.balances-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.balance-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.balance-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.amount-owe {
    color: #e74c3c !important;
    width: 10rem;
}

.amount-owed {
    color: #28a745 !important;
    width: 12rem;
}

.username-balance {
    font-weight: bold;
    font-size: 1.25rem !important;
}

.you-are-owed-section p {
    color: #aaa !important;
    font-size: 1rem;
}
